#cards {
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 10px
}

#logs,
#played_cards {
    height: 200px;
    overflow-y: auto;
    white-space: pre-wrap;
}

th {
    text-align: left;
}

#history_table {
    width: 100%;
}

#first_col {
    width: 33%;
}

#draw_amount_text_field, #punishment_text_field {
    width: 100px;
}

.mdl-card {
    width: 100%;
    min-height: 0;
}

.mdl-card, .mdl-card__supporting-text {
    overflow: inherit;
}

.mdl-menu__container {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
